.stages {
  padding: 0 190px;
  color: #fff;
}

.sectionTitle {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 60px;
}

.stageTitle {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px !important;
}

.stageDescription {
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 40px !important;
}

@media (max-width: 1440px) {
  .sectionTitle {
    font-size: 56px;
  }

  .stageTitle {
    font-size: 36px;
  }

  .stageDescription {
    font-size: 22px;
  }
}

@media (max-width: 1120px) {
  .stages {
    padding: 0 100px;
  }

  .sectionTitle {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .stages {
    padding: 0 40px;
  }

  .sectionTitle {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .stageTitle {
    font-size: 28px;
    margin-bottom: 30px !important;
  }

  .stageDescription {
    font-size: 18px;
    margin-bottom: 30px !important;
  }
}

@media (max-width: 480px) {
  .stages {
    padding: 0 20px;
  }

  .sectionTitle {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .stageTitle {
    font-size: 24px;
    margin-bottom: 20px !important;
  }

  .stageDescription {
    font-size: 16px;
    margin-bottom: 20px !important;
  }
}
