.stages{
  padding: 0 190px;
  color: #fff;
}

.sectionTitle{
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 60px;
}

.stageTitle{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px !important;
}

.stageDescription{
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 40px !important;
}

