.pageHeader {
  gap: 50px;
  color: #fff;
  margin: 0 20px;
  padding: 68px;
  border-radius: 80px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.pageHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 80px;
  z-index: 1;
}

.headerContent {
  position: relative;
  z-index: 2;
}
.headerContent h1 {
  font-size: 96px;
  line-height: 106px;
  font-weight: 700;
  margin-bottom: 30px !important;
}

.headerContent > p {
  font-size: 27px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 0 !important;
}

.headerButton {
  z-index: 2;
  position: relative;
  width: 40%;
  text-align: center;
  background-color: #fedd07;
  border-radius: 25px;
  padding: 34.5px 125.5px;
  margin-top: 37px !important;
}

.headerButton > img {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}

.headerButton > a {
  text-decoration: none;
  color: #000000;
  font-size: 26px;
  line-height: 120%;
}

.featuresSection {
  margin: 72px 20px;
  background-color: #1b1b1b;
  border-radius: 30px;
}

.featuresGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 87px;
  padding: 40px 20px;
}
