.pageHeader {
  gap: 50px;
  color: #fff;
  margin: 0 20px;
  padding: 68px;
  border-radius: 80px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 73px;
}

.pageHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 80px;
  z-index: 1;
}

.headerContent {
  position: relative;
  z-index: 2;
}

.headerContent h1 {
  font-size: 96px;
  line-height: 106px;
  font-weight: 700;
  margin-bottom: 30px !important;
}

.headerContent > p {
  font-family: "Inter", sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 0 !important;
}

.headerButton {
  z-index: 2;
  position: relative;
  max-width: 696px;
  text-align: center;
  background-color: #fedd07;
  border-radius: 25px;
  padding: 34.5px 125.5px;
  margin-top: 37px !important;
}

.headerButton > img {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}

.headerButton > a {
  text-decoration: none;
  color: #000000;
  font-size: 26px;
  line-height: 120%;
}

.featuresSection {
  margin: 72px 20px;
  background-color: #1b1b1b;
  border-radius: 30px;
}

.featuresGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 87px;
  padding: 40px 20px;
}

@media (max-width: 1440px) {
  .headerContent h1 {
    font-size: 80px;
    line-height: 90px;
  }

  .headerContent > p {
    font-size: 24px;
  }

  .headerButton {
    max-width: 550px;
    padding: 34.5px 75.5px;
  }

  .headerButton > a {
    font-size: 20px;
  }
}

@media (max-width: 1120px) {
  .pageHeader {
    padding: 50px;
  }

  .featuresGrid {
    gap: 60px;
  }
}

@media (max-width: 768px) {
  .pageHeader {
    padding: 40px 20px;
    margin: 0 10px;
    border-radius: 40px;
    margin-bottom: 40px;
    background-size: cover;
  }

  .pageHeader::before {
    border-radius: 40px;
  }

  .headerContent {
    padding-left: 10px;
  }

  .headerContent h1 {
    font-size: 75px;
    line-height: 45px;
    margin-bottom: 20px !important;
  }

  .headerButton {
    width: 100%;
    padding: 20px;
    margin-top: 20px !important;
    border-radius: 15px;
  }

  .headerButton > img {
    width: 130px;
  }

  .headerButton > a {
    font-size: 20px;
  }

  .featuresSection {
    margin: 40px 10px;
    border-radius: 20px;
  }

  .featuresGrid {
    padding: 30px 15px;
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .headerButton > img {
    display: none;
  }
}

@media (max-width: 480px) {
  .pageHeader {
    padding: 30px 15px;
    border-radius: 20px;
  }

  .pageHeader::before {
    border-radius: 20px;
  }

  .headerContent h1 {
    font-size: 64px;
    line-height: 35px;
  }

  .headerContent > p {
    font-size: 24px;
  }

  .headerButton {
    padding: 15px;
  }

  .headerButton > a {
    font-size: 18px;
  }

  .featuresSection {
    margin: 20px 5px;
  }

  .featuresGrid {
    padding: 20px 10px;
    gap: 30px;
  }
}
