.trainingHall {
  padding: 66px 202px 67px 157px;
  border-radius: 80px;
  gap: 144px;
  background-color: #1b1b1b;
  color: #fff;
}

.imageContainer {
  width: 700px;
  height: 700px;
  border-radius: 100px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trainingHallContent {
  padding: 70px 0;
  flex: 1;
  color: #fff;
}

.trainingHallContent h3 {
  font-size: 61px;
  line-height: 75.5px;
  font-weight: 700;
  margin-bottom: 111px !important;
  text-transform: uppercase;
}

.trainingHallContent p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 61px;
  line-height: 1.5;
  color: #ccc;
}

.options {
  justify-content: space-between;
  width: 100%;
  display: flex;
  gap: 79px;
  margin-bottom: 50px;
}

.option {
  text-align: center;
}

.option div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option div > svg {
  margin-left: 20px;
}

.option div h3 {
  font-size: 61px;
  line-height: 82px;
  font-weight: 700;
  margin-bottom: 0 !important;
}

.option div h3 span {
  color: #fedd07;
}

.option p {
  text-align: start;
  font-size: 27px;
  font-weight: 400;
  color: #999;
  margin: 5px 0 0;
}

.benefits {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
}

.benefits li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.benefits li p {
  font-size: 27px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

@media (max-width: 1770px) {
  .option div h3 {
    font-size: 40px;
  }

  .option div > svg {
    flex-shrink: 0;
  }

  .trainingHall {
    gap: 100px;
  }
}

@media (max-width: 1591px) {
  .trainingHall {
    padding: 63px 80px 67px 80px;
    gap: 60px;
  }

  .imageContainer {
    width: 600px;
    height: 600px;
  }

  .option div h3 {
    font-size: 34px;
  }

  .option p {
    font-size: 20px;
  }
}

@media (max-width: 1440px) {
  .trainingHallContent {
    padding: 30px 0;
  }

  .trainingHallContent h3 {
    font-size: 50px;
    margin-bottom: 90px;
  }

  .trainingHallContent p {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1300px) {
  .trainingHall {
    gap: 20px;
  }

  .imageContainer {
    width: 100%;
  }

  .imageContainer img {
    border-radius: 100px;
  }

  .trainingHallContent > h3 {
    text-align: center;
  }

  .trainingHallContent p {
    text-align: center;
  }

  .options {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .trainingHall {
    padding: 40px 20px;
    margin-bottom: 30px;
    border-radius: 20px;
  }

  .imageContainer {
    width: 100%;
    height: 500px;
  }

  .trainingHallContent p {
    text-align: center;
  }

  .trainingHallContent > button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    width: 60%;
  }
}

@media (max-width: 576px) {
  .trainingHall {
    padding: 30px 15px;
  }

  .trainingHallContent h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .trainingHallContent p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .options {
    gap: 20px;
    margin-bottom: 20px;
  }

  .option div h3 {
    font-size: 30px;
  }

  .option p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .trainingHall {
    padding: 20px;
    border-radius: 15px;
  }

  .imageContainer {
    height: 400px;
  }

  .trainingHallContent h3 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .trainingHallContent p {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .options {
    gap: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
  }

  .option div h3 {
    font-size: 24px;
  }

  .option p {
    font-size: 14px;
  }

  .trainingHallContent > button {
    width: 80%;
  }
}
