.servicesSection {
  margin: 0 20px;
  padding: 64px 0 60px 157px;
  color: #fff;
  border-radius: 78px;
  margin-bottom: 86px;
  background-image: url("/assets/pages/pageTop.png");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.serviceContent > h1 {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 30px !important;
  line-height: 75.5px;
}

.serviceContent > p {
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 0% !important;
}

.serviceButton {
  position: relative;
  width: 40%;
  text-align: center;
  background-color: #fedd07;
  border-radius: 25px;
  padding: 34.5px 125.5px;
  margin-top: 37px !important;
}

.serviceButton > img {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}

.serviceButton > a {
  text-decoration: none;
  color: #000;
  font-size: 26px;
}

.cardsSection {
  margin: 0 20px;
  padding: 77px 149px;
  background-color: #1b1b1b;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 123px;
  border-radius: 80px;
}
