.mobileAppContainer {
  border-radius: 80px;
  margin: 80px 40px;
  gap: 80px !important;
}

.mobileAppImage {
  width: 365px;
}

.mobileAppImage > img {
  width: 100%;
}

.mobileAppDescriptionContainer {
  padding: 40px;
  color: #fff;
  gap: 20px;
  width: 40%;
}

.mobileAppDescription > h3 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 40px !important;
}

.mobileAppDescription > p {
  font-family: "Inter", sans-serif;
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 40px !important;
}

.downloadImages {
  gap: 20px;
}

.downloadImages a > img {
  width: 253px;
}

@media (max-width: 960px) {
  .mobileAppContainer {
    gap: 40px !important;
  }

  .mobileAppDescription > h3 {
    font-size: 40px;
  }

  .mobileAppDescription > p {
    font-size: 20px;
  }

  .downloadImages > img {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .mobileAppContainer {
    flex-direction: column;
    align-items: center;
  }

  .mobileAppDescriptionContainer {
    padding: 20px;
    width: 80%;
  }
}

@media (max-width: 440px) {
  .mobileAppImage {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .mobileAppImage > img {
    width: 100%;
  }

  .mobileAppDescription > h3 {
    font-size: 30px;
  }

  .mobileAppDescription > p {
    font-size: 15px;
  }

  .downloadImages > a > img {
    width: 180px;
  }
}
