.trainingCardWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 70px;
  width: 360px;
  background-color: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.trainingCardTop,
.trainingCardBottom {
  width: 100%;
}

.trainingCardTop {
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  position: relative;
}

.trainingCardTop img {
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  width: 100%;
}

.trainingCardTop div > h3 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  font-weight: 700;
  z-index: 1000;
  text-align: center;
  color: #fff;
}

.trainingCardWrapper:hover .trainingCardBottom {
  background-color: #fedd07;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
  padding: 0 32px 48px 32px;
  position: relative;
}

.trainingCardWrapper:hover .trainingCardBottom::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, #fedd07 0%, rgba(255, 255, 255, 0) 100%);
}

.trainingCardWrapper:hover .trainingCardBottomPrice p > .month {
  color: #fff;
}

.trainingCardBottom {
  background-color: #000;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
  padding: 0 32px 48px 32px;
  position: relative;
}

.trainingCardBottomPrice {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.trainingCardBottomPrice p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  margin-left: 18px;
  text-align: left;
}

.trainingCardBottomPrice p > .month {
  color: #fedd07;
  font-size: 21px;
}

.trainingCardBottomPrice p > .price {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.trainingCardBottomStages > div {
  display: flex;
  padding-top: 10px;
  padding-bottom: 26px;
  border-top: 1px solid #fff;
}

.trainingCardBottom::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, #000 0%, rgba(255, 255, 255, 0) 100%);
}

.trainingCardWrapper:hover .trainingCardBottomDescription p {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  margin-left: 18px;
  text-align: left;
}

.trainingCardBottomDescription {
  margin-bottom: 36px;
}

.trainingCardBottomDescription p {
  font-family: "Inter", sans-serif;
  color: #fff;
}

.trainingCardWrapper:hover .trainingCardBottomStages p {
  margin-left: 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.trainingCardWrapper:hover .trainingCardBottomStages > div > svg > path {
  fill: #000 !important;
}

.trainingCardBottomStages > div > p {
  font-family: "Inter", sans-serif;
  margin-left: 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

.trainingCardBottomStages div > svg > path {
  fill: #fedd07 !important;
}

.trainingCardWrapper:hover .trainingCardBottomButton button {
  border: none;
}

.trainingCardBottomButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trainingCardBottomButton Button {
  font-family: "Inter", sans-serif;
  border-radius: 25px;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
