.breadcrumb {
  color: #fff;
  padding: 45px 100px;
}

.breadcrumb > ul {
  list-style: none;
  padding: 0;
  gap: 4px;
}

.breadcrumb > ul > li > a {
  text-decoration: none;
  color: #fff;
}

.breadcrumb > ul > li > svg {
  margin-right: 10px;
}

@media (max-width: 860px) {
  .breadcrumb{
    padding: 30px 10%;
  }
}

@media (max-width: 340px) {
  .breadcrumb > ul > li > a {
    font-size: 14px;
  }

  .breadcrumb > ul > li > span{
    font-size: 14px;
  }
}